[submodule "cs250"]
	path = cs250
	url = git@github.com:ChrisLundquist/cs250.git
[submodule "cs280"]
	path = cs280
	url = git@github.com:ChrisLundquist/cs280.git
[submodule "nebula"]
	path = nebula
	url = git@github.com:ChrisLundquist/nebula.git
[submodule "cs260"]
	path = cs260
	url = git@github.com:ChrisLundquist/cs260.git
